html,
body,
#wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-top: 100px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue
}

.yellow {
  background: yellow;
}
